KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/interrupts/PIC/pic_EOI.o \
$(ARCHDIR)/interrupts/PIC/pic_remap.o \
$(ARCHDIR)/interrupts/interrupt_init.o \
$(ARCHDIR)/interrupts/IDT.o \
$(ARCHDIR)/interrupts/interrupts.o \
$(ARCHDIR)/interrupts/idt_flush.o \
$(ARCHDIR)/interrupts/interrupt_requests.o \
$(ARCHDIR)/interrupts/irq_handler.o \
$(ARCHDIR)/segmentation/GDT.o \
$(ARCHDIR)/segmentation/gdt_flush.o \
$(ARCHDIR)/PIT/timer.o \
